h1 {


    color:red;}
 h2{
	
 color:purple;}
 th{background-color:pink;}
 
 img{
 width:200px;
 
 }
 table, th, td {
  border: 1px solid green;
  font-size:1px
}

 body {
  background-color: rgba(0, 128, 0, 0.3) /* Green background with 30% opacity */
}
 
 
 
 
 
 
 
 
 
 
 
 

	
